* {
    padding: 0rem;
    margin: 0rem;
    border: 0rem;
}

.navbar {
    padding: .2rem;
}

#navBar {
    margin-right: 0rem;
    padding: 0rem;
}

#leftCol {
    background-color: white;
    height: auto;
}

#rightCol {
    background-color: white;
    height: auto;
}

#bodyCol {
    background-color: white;
    height: 750px;
}

#basketball, #navBarTitle {
    font-size: 30px;
    width: auto;
    height: 30px;
}